.chooseconfirm {
    [image="rabbit-side"] {
        @include transform-center-vertical;
        width: 30rem;
        right: 0;
    }

    [image="rabbit-side"] img {
        animation: rabbit-side 4s infinite alternate;
    }
}