.choosescript {
    [image="rabbit"] {
        @include transform-center-horizontal;
        bottom: -25rem;
        width: 80rem;
    }

    [image="rabbit"] img {
        animation: rabbit 4s infinite alternate;
    }
}