.counter {
    @include transform-center;
    @include wh(40rem);
    background: $c-3;
    border-radius: 40rem;
    color: white;
    font-size: 20rem;
    text-align: center;
    @include flex-center;
}