@keyframes jump {
    from {
        transform: translateY(1rem);
    }

    to {
        transform: translateY(-2rem);
    }
}

.el-recorder {
    @include flex-center;
    position: relative;
    background: black;

    &,
    &__video {
        @include wh(100%);
    }

    &__progress {
        @include wh(100%, 3rem);
        background: $c-3;
        transition-timing-function: linear;
        transition-duration: 30s;
        align-self: flex-start;

        &[running] {
            width: 0%;
        }
    }

    &__gifs {
        position: absolute;
        left: 0;
        bottom: $textbar-size;
        right: 0;
        height: $textbar-size;
        display: flex;
        justify-content: space-evenly;
    }

    &__gifs img {
        height: $textbar-size;
        animation: 0.5s infinite jump alternate;
    }

    &__gifs img:nth-child(odd) { animation-delay: .25s; }
}