.el-textbar {
    @include flex-center(row);
    @include wh(100%, $textbar-size);
    background: white;
    color: $c-1;
    overflow: hidden;

    &:before,
    &:after {
        content: '';
        @include wh($textbar-size);
        background: url('../static/img/icon-arrow-left.svg') no-repeat;
        background-size: contain;
        display: block;
    }

    &:after {
        transform: rotate(180deg);
    }

    &__textwrapper {
        width: calc(100% - #{$textbar-size * 2});
        height: $textbar-size;
    }

    &__text {
        text-align: center;
        font-size: 5rem;
        font-family: $font-text;
        line-height: 1.5;
        transition-timing-function: linear;
        white-space: pre-line;
        padding-top: $textbar-size; // Get a bit of lead-in
    }
}