.el-progress {
    @include wh($recorder-width, 3rem); // Same width as recorder
    background: rgba($c-3, 0.2);

    &__bar {
        display: block;
        @include wh(100%);
        background: $c-3;
        transition-timing-function: linear;
    }

    &[running] &__bar {
        width: 0%;
    }
}