.el-button {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    &__text {
        color: $c-1;
        font-size: 5rem;
        font-family: Arcade;
        text-align: center;
        text-transform: lowercase;
        position: relative;
        top: .5rem;
        left: -1rem;
    }

    &[focused] &__text {
        border-bottom: 3px solid $c-1;
    }

    &--small {
        @include wh(30rem, 12rem);
        background-image: url('../static/img/el-button-small.png');
    }

    &--big {
        @include wh(70rem, 17rem);
        background-image: url('../static/img/el-button-big.png');
    }

    &--big &__text {
        font-size: 5.5rem;
    }
}