@keyframes rabbit {
    from {
        transform: translate3d(0, 1rem, 0);
    }

    to {
        transform: translate3d(0, 30vh, 0);
    }
}

.explain {
    [image="rabbit"] {
        position: absolute;
        bottom: 0;
        left: 5rem;
    }

    [image="rabbit"] img {
        animation: rabbit 4s infinite alternate;
    }
}