.itemgrid {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &--media &__item {
        @include background-center(contain);
        background-image: url('../static/img/border-video.png');
        padding: 2.5rem;
    }

    &__item {
        @include flex-center;
        width: calc(100% / 3);
        height: calc(100% / 3);
        border: 1rem solid transparent;
        position: relative;
    }

    &__video {
        @include wh(100%);
    }

    &--media .el-button {
        position: absolute;
        height: 8rem;
        bottom: -1rem;
        left: -5rem;
        z-index: 1;
    }

    &--media .el-button__text {
        font-size: 2.5rem;
        top: .5rem;
    }

    &--buttons .el-button {
        @include wh(100%);
        padding: 2rem;
    }
}