@keyframes rabbit-side {
    from {
        transform: translate3d(1rem, 0, 0);
    }

    to {
        transform: translate3d(14vw, 0, 0);
    }
}

@keyframes el-button {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, -1.5rem, 0);
    }
}

@keyframes rabbit {
    0% {
        transform: translate3d(0, 1rem, 0);
    }

    20% {
        transform: translate3d(0, 1rem, 0);
    }

    25% {
        transform: translate3d(0, 10rem, 0);
    }

    50% {
        transform: translate3d(0, 10rem, 0);
    }

    55% {
        transform: translate3d(0, 20rem , 0);
    }

    75% {
        transform: translate3d(0, 20rem, 0);
    }

    80% {
        transform: translate3d(0, 15rem, 0);
    }

    100% {
        transform: translate3d(0, 15rem, 0);
    }
}

@keyframes logo {
    0% {
        transform: scale(1.2) rotate(-5deg);
    }

    49% {
        transform: scale(1.2) rotate(-5deg);
    }

    50% {
        transform: scale(1) rotate(0deg)
    }

    51% {
        transform: scale(1.2) rotate(5deg);
    }

    99% {
        transform: scale(1.2) rotate(5deg);
    }

    100% {
        transform: scale(1.2) rotate(5deg);
    }
}

@keyframes face {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0.5;
    }
}

@keyframes headline {
    from {
        color: $c-2;
    }

    to {
        color: $c-4;
    }
}