@keyframes bg {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.5);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes btn--big {
    from {
        transform: rotate(0deg) scale(1);
        background: $c-4;
    }

    to {
        transform: rotate(-2deg) scale(1.2);
        background: $c-3;
    }
}

@keyframes headline {
    0% {
        background: $c-1;
        transform: scale(1);
    }

    25% {
        background: $c-2;
    }

    50% {
        background: $c-3;
        transform: scale(1.5);
    }

    75% {
        background: $c-5;
    }
}

.recorder {
    font-family: $font-interface;
    background: $gradient-1;
    color: white;

    @include wh(100%, 100vh);
    overflow: hidden;
    @include flex-center;

    &__step {
        position: relative;
        @include wh(100%);
        padding: 2rem;
    }

    &__animation,
    &__content {
        position: absolute;
        @include pos(0);
    }

    &__animation {
        animation: bg 60s infinite linear;
        opacity: 0.5;
    }

    &__animation img {
        @include wh(100%);
    }

    &__content {
        @include flex-center;
        margin: 2rem;
    }

    &__panels {
        display: grid;
        grid-gap: 2rem;
        margin: 2rem;
        grid-template-columns: 1fr 1fr;
    }

    &__panels--vertical {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: inherit;
        height: 100%;
    }

    &__panel {
        width: 100%;
        @include flex-center;
    }

    &__panel--start {
        align-items: flex-start;
    }

    &__panel video {
        width: 100%;
        object-fit: contain;
    }

    &__actions {
        display: flex;
    }

    &__actions > * {
        margin: 0 1rem;
    }

    &__logo {
        width: 100%;
        max-width: 60rem;
        margin-bottom: 2rem;
    }

    &__logo--splash {
        margin-bottom: 10rem;
        max-width: 100rem;
    }

    &__headline {
        margin-bottom: 2rem;
        font-size: 4rem;
        animation: headline 4s linear infinite alternate;
        padding: 1rem;
    }

    &__label {
        margin-top: 1rem;
        font-size: 2.5rem;
        color: black;
    }

    &__text {
        @include child-margins(2rem);
        background: rgba(white, 0.8);
        padding: 2rem;
        margin: 2rem;
        max-width: 100rem;
        text-align: center;
        color: black;
        font-size: 3rem;
        line-height: 1.25;
    }

    &__text--small {
        font-size: 2rem;
    }

    &__text p {
        font-family: $font-text;
    }

    &__btn {
        color: white;
    }

    &__btn--big {
        font-size: 5rem;
        text-align: center;
        background: $c-4;
        border-radius: 1rem;
        padding: 1rem 2rem;
        animation: btn--big 2s infinite alternate
    }

    &__btn--normal {
        font-size: 3rem;
        text-align: center;
        background: $c-5;
        padding: 1rem;
    }
}