.share {
    @include background-center;
    background-image: url('../static/img/bg-purple-sd.jpg');
    color: black;

    width: 100%;
    min-height: 100vh;
    @include flex-center;

    &__section {
        @include flex-center;
    }

    &__logo {
        width: 100%;
        max-width: 60rem;
        padding: 1rem;
    }

    &__text {
        background: url('../static/img/bg-carpet.png');
        color: $c-1;
        padding: 2rem;
        font-size: 2.5rem;
        margin: 1rem;
        line-height: 1.25;
    }

    &__input {
        display: flex;
    }

    &__inputcode {
        font-size: 4rem;
        padding: 1rem;
        width: 13rem;
        height: 5rem;
        text-align: center;
        font-family: monospace;
    }

    &__inputbtn {
        background: $c-4;
        @include wh(5rem);
        color: white;
        padding: 1rem;
        animation: pulse .25s infinite alternate linear;
        line-height: 3.5rem;
    }

    &__inputbtn[disabled] {
        background: $c-6;
        animation: none;
    }

    &__video {
        width: 100%;
        margin-bottom: 3rem;
    }
}