.splash {
    [image="face"] {
        @include transform-center;
        width: 50vw;
    }

    [image="face"] img {
        animation: face 2s infinite alternate;
    }

    [image="logo"] {
        @include transform-center-horizontal;
        width: 80vw;
        top: 5rem;
    }

    [image="logo"] img {
        animation: logo 5s infinite linear alternate;
    }

    &__gif {
        position: absolute;
        transform: translateX(-50vw), translateY(calc(50vh - 144px));
        @include wh(496px, 288px);
    }
}