.status {
    &__videos {
        list-style: none;
        margin: 1rem;
    }

    &__videos > li {
        margin-bottom: 1rem;
        font-family: monospace;
    }

    &__videos > li:nth-child(odd) {
        background: #ddd;
    }
}