.step {
    position: relative;
    @include wh(100%);
    padding: 2rem;
    background-position: center center;
    background-size: cover;
    position: relative;

    &[flair="blue"] { background-image: url('../static/img/bg-blue.jpg') }
    &[flair="blue-stars"] { background-image: url('../static/img/bg-blue-stars.jpg') }
    &[flair="purple"] { background-image: url('../static/img/bg-purple.jpg') }
    &[flair="stars"] { background-image: url('../static/img/bg-stars.jpg') }
    &[flair="textbox"] { background-image: url('../static/img/bg-textbox.jpg') }

    &__face {
        @include transform-center;
        width: 50vw;
    }

    &__logo {
        @include transform-center-horizontal;
        width: 80vw;
        top: 5rem;
    }

    &__headline {
        font-family: $font-header;
        font-size: 13rem;
        color: $c-2;
        -webkit-text-stroke: 1px $c-3;
        letter-spacing: 3px;
        text-shadow: 0 4px 10px rgba(black, 0.5)
    }

    &[flair="textbox"] &__headline {
        position: absolute;
        left: 41rem;
        top: 4rem;
    }

    &[flair="stars"] &__headline {
        @include transform-center-horizontal;
        top: 2rem;
        font-size: 12rem;
        width: 100%;
        text-align: center;
    }

    &[flair="purple"] &__headline {
        @include transform-center-horizontal;
        top: 4rem;
        font-size: 14rem;
        width: 100%;
        text-align: center;
    }

    &__rabbit {
        width: 43rem;
    }

    &[flair="textbox"] &__rabbit {
        position: absolute;
        bottom: 0;
        left: 5rem;
    }

    &[flair="purple"] &__rabbit {
        @include transform-center-horizontal;
        bottom: -25rem;
        width: 80rem;
    }

    &[flair="blue-stars"] &__rabbit {
        @include transform-center-vertical;
        width: 30rem;
        right: 0;
    }

    &[flair="blue"] .el-button {
        @include transform-center-horizontal;
        bottom: 3rem;
    }

    &[flair="textbox"] .el-button {
        position: absolute;
        right: 20rem;
        bottom: 5rem;
    }

    &__text {
        @include child-margins(3rem);
        position: absolute;
        top: 17rem;
        left: 41rem;
        right: 27rem;
        bottom: 23rem;
    }

    &__text p {
        font-size: 2.8rem;
        font-family: $font-text;
        color: $c-1;
        line-height: 1.75;
    }

    &[flair="stars"] .itemgrid {
        position: absolute;
        top: 14rem;
        bottom: 2rem;
        left: 3rem;
        right: 3rem;
    }

    &[flair="purple"] .itemgrid {
        position: absolute;
        top: 17rem;
        bottom: 10rem;
        left: 3rem;
        right: 3rem;
    }

    &[flair="blue-stars"] {
        @include flex-center;
        @include child-margins(3rem);
    }

    &__recorder {
        @include background-center(contain);
        @include wh(80rem, 45rem);
        @include flex-center;
        background-image: url('../static/img/border-video.png');
        padding: 6rem;
    }

    &__recorder video {
        @include wh(100%);
    }

    &__note {
        background: url('../static/img/bg-carpet.png');
        padding: 2rem;
        text-align: center;
        font-size: 4rem;
        color: $c-1;
    }

    &__actions {
        @include flex-center(row);
    }

    &__actions > * {
        margin: 0 2rem;
    }

    &__progress {
        @include wh(80rem, 3rem); // Same width as recorder
    }

    &__progress:after {
        content: '';
        display: block;
        @include wh(100%);
        background: $c-3;
        transition-timing-function: linear;
        transition-duration: 30s;
    }

    &__progress[running]:after {
        width: 0%;
    }
}