.swapping {
    display: flex;
    margin-bottom: 2rem;

    &__image {
        width: 40rem;
        margin-right: 2rem;
    }

    &__text {
        background: rgba(white, 0.8);
        color: black;
        padding: 2rem;
    }

    &__time {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
}