// Fonts
$font-family-helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-bangers: 'Bangers', Helvetica, Arial, sans-serif;
$font-text: $font-family-helvetica;
$font-interface: $font-family-bangers;

$c-1: #f0931e;
$c-2: #e7e713;
$c-3: #f5492a;
$c-4: #d91b06;
$c-5: #69bdc1;
$gradient-1: radial-gradient($c-1, $c-2);