$font-text: Abadi;
$font-interface: Gradius;
$font-header: Gradius;

$c-1: #0000ff;
$c-2: #ffff00;
$c-3: #00ffff;

$c-4: #d91b06;
$c-5: #69bdc1;
$c-6: #cbcbcb;
$gradient-1: radial-gradient($c-1, $c-2);

$textbar-size: 14rem;