.viewer {
    @include fixed-screen;
    position: relative;

    &__logo {
        width: 100%;
        padding: 2rem;
        display: block;
    }

    &__video {
        width: 100%;
        padding: 3rem;
    }
}